
/* -------------------- Algemeen -------------------- */
body{
	background-color: black;
	color: white;
	margin: 0px;
	padding: 0px;
}

iframe{
	display: block;
	margin: 80px auto 0px;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
    align-content: center;
    width: 94%;
    text-align: center;
    padding: 1.5em;
	pointer-events: none;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/* -------------------- Typografie -------------------- */
.voice1 {
    font-family: "Brenner Mono Regular" ;
	text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    margin-top: -500px;
    font-size: 1em;
}

.voice1h {
    font-family: "Brenner Mono Bold" ;
  	text-shadow:
    0 0 5px #fff,
    0 0 1px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 50px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 150px #0ff;
    margin-top: -500px;
    font-size: 1em;
}

.voice2 {
    font-family: "Brenner Sans Regular" ;
    color: wheat;
    margin-top: -85px;
    font-size: 1.5em;
}

.voice2n {
    font-family: "Brenner Sans Medium" ;
    color: wheat;
    margin-top: -85px;
    font-size: 1.5em;
}

.voice2h {
    font-family: "Brenner Sans Bold" ;
    color: wheat;
    margin-top: -85px;
    font-size: 1.5em;
}

.voice3 {
    font-family: "Brenner Slab Bold" ;
	color: orange;
    margin-top: -300px;
    margin-left: -150px;
    font-size: 1em;
}

.voice4 {
    font-family: "Brenner Regular" ;
    color: lightgrey;
    margin-top: -70px;
    font-size: 1.5em;
}


/* -------------------- Zin 1 -------------------- */

.p0 span {
	opacity: 0;
	font-family: Brenner Mono Regular;
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
}

/* -------------------- Achtergrondgeluiden -------------------- */
/* Buitenste box met sound captions */
.closed-captions {
	position: absolute;
	width: 100%;
	top: 70px;
}
/* p elementen van de sound captions */
.closed-captions p {
	opacity: 0;
	position: absolute;
	width: 50%;
	height: 50%;
	position: absolute;
    align-content: center;
    width: 100%;
    text-align: center;
    color: gray;
    font-family: "Brenner Mono Light";
    font-size: 0.75em;
}

/* 0 spannend intro */
.sound0 {
    background-image: url(images/alarm.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound0 .sound-text0 {
    animation: fadeOut 9s forwards;
}

/* 9 gevanings alarm deuren */
.sound1{
    background-image: url(images/blue.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound1 .sound-text1 {
    animation: fadeOut 1s forwards;
}

/* 10 spannend intro */
.sound2{
    background-image: url(images/alarm.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound2 .sound-text2 {
    animation: fadeOut 2s forwards;
}

/* 12 sirene */
.sound3 {
    background-image: url(images/motion.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound3 .sound-text3 {
    animation: fadeOut 1s forwards;
}

/* 13 spannend intro */
.sound4 {
    background-image: url(images/blue.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound4 .sound-text4 {
    animation: fadeOut 3.5s forwards;
}


/* 16.5 bleep sec */
.sound5 {
    background-image: url(images/motion.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound5 .sound-text5 {
    animation: fadeOut 0.5s forwards;
}

/* 17 sec spannend intro */
.sound6 {
   background-image: url(images/blue.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound6 .sound-text6 {
    animation: fadeOut 8.8s forwards;
}

/* 25.8 sec bleep */
.sound7 {
    background-image: url(images/motion.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound7 .sound-text7 {
    animation: fadeOut 0.5s forwards;
}


/* 26.3 sec spannend intro */
.sound8 {
   background-image: url(images/blue.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 31 sec storingsgeluid */
.sound9 {
   background-image: url(images/3d.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 32 sec bleep */
.sound10 {
    background-image: url(images/motion.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 32.5 sec interview deel 1 */
.sound11 {
    background-image: url(images/glow.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 58 sec interview deel 2 */
.sound12 {
   background-image: url(images/glow.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 67 sec interview deel 3 */
.sound13 {
  background-image: url(images/trippy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 75 sec stilte */
.sound14 {
   background-image: url(images/niks.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 86 sec spannend intro */
.sound15 {
   background-image: url(images/blue.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 87 sec spannende herhaling */
.sound16 {
   background-image: url(images/fast.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 103 sec 1:43 computerpiepje */
.sound17 {
   background-image: url(images/block.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 104 versneld sec */
.sound18 {
    background-image: url(images/fast.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 113 sec nog sneller */
.sound19 {
    background-image: url(images/trippy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 128 sec iets rustiger */
.sound20 {
    background-image: url(images/fast.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 129.5 stilte */
.sound21 {
     background-image: url(images/niks.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 135 zwart */
.sound22 {
     opacity: 0;
}



/* keyframes */
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* -------------------- Responsive design -------------------- */

/* scherm: kleiner dan 2000*/
@media screen and (max-width: 2000px) {
    #video-placeholder {
        width: 1000px;
        height: 500px;
    }
}

/* scherm: kleiner dan 2000*/
@media screen and (max-width: 2000px) {
    #video-placeholder {
        width: 1000px;
        height: 500px;
    }
}

/* laptop: kleiner dan 1024*/
@media screen and (max-width: 1024px) {
    #video-placeholder {
        width: 800px;
        height: 400px; }
        .voice1 { margin-top: -410px; }
        .voice1h { margin-top: -410px; }
        .voice2 { margin-top: -75px; }
        .voice2n { margin-top: -75px; }
        .voice2h { margin-top: -75px; }
        .voice4 { margin-top: -30px; }
       }

/* tablet: kleiner dan 768*/
@media screen and (max-width: 768px) {
    #video-placeholder {
        width: 600px;
        height: 300px;
    }
        .voice1 { margin-top: -310px; }
        .voice1h { margin-top: -310px; }
        .voice2 { margin-top: -55px; }
        .voice2n { margin-top: -55px; }
        .voice2h { margin-top: -55px; }
        .voice4 { margin-top: -20px; }

        #closed-captions p {
        font-size: 1em;
    }
}

/* mobiel: kleiner dan 414*/
@media screen and (max-width: 414px) {
    #video-placeholder {
        width: 200px;
        height: 100px;
    }
        #closed-captions p {
        font-size: 0.5em;
    }
}
