
/* -------------------- Algemeen -------------------- */
body {
	width: 100%;
    background-color: black;
	color: white;
	margin: 0px;
	padding: 0px;
}	

.logo {
    background-image: url(images/alarm.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.logo > img {
    width: 40%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-placeholder {
    width: 850px;
    height: 550px;
    clip-path: inset(60px 1px 55px 1px);
}

iframe{
	display: block;
	margin: 30px auto;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
    align-content: center;
    width: 94%;
    text-align: center;
    padding: 1.5em;
	pointer-events: none;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/* -------------------- Typografie -------------------- */
.voice1 {
    font-family: "Brenner Mono Regular" ;
	text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    margin-top: -535px;
    font-size: 1em;
}

.voice1h {
    font-family: "Brenner Mono Medium" ;
  	text-shadow:
    0 0 5px #fff,
    0 0 1px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 50px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 150px #0ff;
    margin-top: -535px;
    font-size: 1em;
}

.voice2 {
    font-family: "Brenner Sans Regular" ;
    color: wheat;
    margin-top: -157px;
    font-size: 1.5em;
    animation: .1s text infinite alternate;
}

.voice2n {
    font-family: "Brenner Sans Medium" ;
    color: wheat;
    margin-top: -157px;
    font-size: 1.5em;
    animation: .1s text infinite alternate;
}

.voice2h {
    font-family: "Brenner Sans Bold" ;
    color: wheat;
    margin-top: -157px;
    font-size: 1.5em;
}

.voice3 {
    font-family: "Brenner Slab Bold" ;
	color: orange;
    margin-top: -400px;
    margin-left: -150px;
    font-size: 1em;
}

.voice4 {
    font-family: "Brenner Regular" ;
    color: lightgrey;
    margin-top: -120px;
    font-size: 1.5em;
}





/* -------------------- p0 -------------------- */

.p0 span {
	opacity: 0;
	font-family: Brenner Mono Regular;
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
}

p43.on, .p44.on, .p45.on{
  opacity: 1;
  animation: textBig 0.3s ease-in-out;
}

/* -------------------- Achtergrondgeluiden -------------------- */

/* Buitenste box met sound captions */
.closed-captions {
	position: absolute;
	width: 100%;
	top: 70px;
}
/* p elementen van de sound captions */
.closed-captions p {
	opacity: 0;
	position: absolute;
	width: 50%;
	height: 50%;
	position: absolute;
    align-content: center;
    width: 100%;
    text-align: center;
    color: gray;
    font-family: "Brenner Mono Light";
    font-size: 1em;
}

/* 0 spannend intro */
.sound0 {
    background-image: url(images/alarm.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound0 header {
    display: none;
}

.sound0 main {
    display: block;
}


.sound0 {
    animation: doorschijn 4s forwards;
}

/* 9 gevanings alarm deuren */
.sound1{
    background-image: url(images/blue.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.sound1 {
    animation: shaking 1s forwards;
}

/* 10 spannend intro */
.sound2{
    background-image: url(images/alarm.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 12 sirene */
.sound3 {
    background-image: url(images/motion.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound3 {
    animation: zoomInOut 0.5s ease forwards;
}

/* 13 spannend intro */
.sound4 {
    background-image: url(images/blue.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 16.5 bleep sec */
.sound5 {
    background-image: url(images/motion.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound5 {
    animation: zoom 0.5s ease forwards;
}

/* 17 sec spannend intro */
.sound6 {
   background-image: url(images/blue.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 23 sec fuck-off */
.sound7 {
    animation: FuckOff 1.5s ease-in-out;
}

/* 25.8 sec bleep */
.sound8 {
    background-image: url(images/motion.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound8 {
    animation: zoomInOut 0.5s ease forwards;
}

/* 26.3 sec spannend intro */
.sound9 {
   background-image: url(images/blue.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 31 sec storingsgeluid */
.sound10 {
   background-image: url(images/3d.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound10 {
    animation: shaking 1s forwards;
}

/* 32 sec bleep */
.sound11 {
    background-image: url(images/motion.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound11 {
    animation: zoomInOut 0.5s ease forwards;
}

/* 32.5 sec interview deel 1 */
.sound12 {
    background-image: url(images/glow.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound12 {
    animation: zoomIn 35s forwards;
}

/* 58 sec interview deel 2 */
.sound13 {
   background-image: url(images/glow.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 67 sec interview deel 3 */
.sound14 {
  background-image: url(images/trippy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 75 sec stilte */
.sound15 {
   background-image: url(images/niks.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound15 {
     opacity: 0.5;
}

.sound15 {
    animation: zoomInOut 2s ease forwards;
}

/* 86 sec spannend intro */
.sound16 {
   background-image: url(images/blue.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound16 {
     opacity: 1;
}

/* 87 sec spannende herhaling */
.sound17 {
   background-image: url(images/fast.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sound17 {
    animation: zoomIn 40s forwards;
}

/* 103 sec 1:43 computerpiepje */
.sound18 {
   background-image: url(images/block.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 104 versneld sec */
.sound19 {
    background-image: url(images/fast.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 113 sec nog sneller */
.sound20 {
    background-image: url(images/trippy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 128 sec iets rustiger */
.sound21 {
    background-image: url(images/fast.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 129.5 stilte */
.sound22 {
     background-image: url(images/niks.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 135.5 zwart */
.sound23 {
     animation: zoomOut 0.5s 0.5s ease forwards;
}

/* -------------------- Keyframes -------------------- */


@keyframes text {
  0% { transform: skewX(0deg); }
  5% { transform: skewX(3deg); }
  10% { transform: skewX(-10eg); }
  15% { transform: skewX(3deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

@keyframes doorschijn {
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
}

@keyframes shaking {
    0% {
        transform: rotate(-3deg);
    }
    20% {
        transform: rotate(3deg);
    }
    40% {
        transform: rotate(-3deg);
    }
    60% {
        transform: rotate(3deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes zoomInOut {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(0.5)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes zoom {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(0.5)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes FuckOff {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(70px);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1.05);
    }
   100% {
        transform: scale(1.3);
    }
}

@keyframes textBig {
    0% {
        font-size: 1.5em;
    }
    50% {
        font-size: 1.6em;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.3)
    }
    50% {
        transform: scale(0.6)
    }
    100% {
        transform: scale(0)
    }
}
